<nav class=”navbar navbar-inverse navbar-fixed-top” role=”navigation”>
  <div class=”container”>
    <div class=”navbar-header”>
      <a class=”navbar-brand” href=”/”>
      <span class=”glyphicon glyphicon glyphicon-cog”></span>
      法國香榭社區管理系統
      </a>
    </div>
    <ul class=”nav navbar-nav pull-right”>
      <li><a href=”/”>首頁</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">公共設施<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">閱讀室</a></li>
          <li><a href="#">健身房</a></li>
          <li><a href="#">兒童室</a></li>
        </ul>
      </li>
      <li><a href=”/about”>關於</a></li>
    </ul>
  </div>
</nav>