<section name="content">
  <div class="container">
  	<div class="row">
  		<div class="col-md-12">
  			<h3>
  				台北智慧社區實施計畫
  			</h3>
  			<p>
  				https://www.housing.taipei.gov.tw/ph-ae/smart-community
  			</p>
  			<img class="img-responsive" src="images/page-title.png">
  		</div>
  	</div>
  </div>
</section>