<section name="content">
  <div class="container">
  	<div class="row">
  		<div class="col-md-8">
  			<h3>
  				公共住宅智慧社區建置規範手冊的定義：
  			</h3>
  			<ul>
  				<li>
  					結合智慧設備系統與物業管理，提升使用者安全、高效率之服務與建築維護管理
  				</li>
  				<li>
  					物業管理系統必須與公共住宅 BIM 雲端管理平台加以整合
  				</li>
  				<li>
  					應包括建築物設施設備的管理維護及修繕、提供建築物使用者的人員服務、提供業主或管理者決策的資訊等範疇
  				</li>
  				<li>
  					設施設備的機能運作，如電氣、空調、昇降機、消防、照明、給排水、弱電、熱源、保全、中央監控等，均可經由相關機合系統的自主性，完成控制、監測、紀錄、矯正及告警等執行作業
  				</li>
  				<li>
  					目前公共住宅工程已導入BIM 技術，各案於初設、細設、施工及峻工各個階段必須建置相關之BIM 資料，以有效整合 BIM 相關建築與設備資訊能持續被記錄與應用
  				</li>
  				<li>
  					利用 BIM 技術中資訊整合及視覺化的特點，進行後續營運維護管理
  				</li>
  			</ul>  			
  		</div>
  		<div class="col-md-4">
  			<h3>
  				h3. Lorem ipsum dolor sit amet.
  			</h3>
  			<p>
  				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
  			</p>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  		</div>
  		<div class="col-md-4">
  		</div>
  		<div class="col-md-4">
  		</div>
  	</div>
  </div>
</section>