<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
<% include ./partials/nav %>
<div class='page-content'>
  <div class='page-content__container container'>
    <div id='calendar'></div>
  </div>
</div>
<% include ./partials/footer %>
<% include ./partials/scripts %>
<% include ./partials/scripts-calendar %>
</body>
</html>