<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
<% include ./partials/nav %>
<section name="jumbotron" >
  <div class="jumbotron text-center">
    <h3></h3>
  </div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-4">
		  <div id="jstreeDiv"></div>
		</div>
		<div class="col-md-8">
		</div>
	</div>
</div>

<% include ./partials/footer %>
<% include ./partials/scripts %>
<% include ./partials/scripts-drawing %>
</body>
</html>