<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
<% include ./partials/nav %>
<section name="jumbotron" >
  <div class="jumbotron text-center">
    <h3></h3>
  </div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-270900">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-270900">
					</li>
					<li data-slide-to="1" data-target="#carousel-270900">
					</li>
					<li data-slide-to="2" data-target="#carousel-270900">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://www.layoutit.com/img/sports-q-c-1600-500-1.jpg" />
						<div class="carousel-caption">
							<h4>
								設備資產管理
							</h4>
							<p>
								對建築物內各項設備資產進行管哩，記錄空間位置、維修情況。
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://www.layoutit.com/img/sports-q-c-1600-500-2.jpg" />
						<div class="carousel-caption">
							<h4>
								設備維修管理
							</h4>
							<p>
								對設備進行日常的運轉維護，包括定期保養管理功能，並記錄統計相關維護訊息。
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://www.layoutit.com/img/sports-q-c-1600-500-3.jpg" />
						<div class="carousel-caption">
							<h4>
								3D模型瀏覽
							</h4>
							<p>
								利用BIM模型進行建築物及內部管路設備的3D展示，並提供移動式場景瀏覽。
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-270900" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-270900" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>
<% include ./partials/84columns %>
<% include ./partials/footer %>
<% include ./partials/scripts %>
</body>
</html>
