<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
<% include ./partials/nav %>

<% include ./partials/84columns %>
<% include ./partials/footer %>
<% include ./partials/scripts %>
<% include ./partials/scripts-viewer %>
</body>
</html>
