html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體';
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
a {
  color: #00B7FF;
}
/*
#about {
  padding-top: 48px;
}
*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #507cd8;
}
.footer p {
  line-height: 40px;
  color: white;
}
.footer a {
  color: #efb22e;
  text-decoration: none;
}
#calendar {
  max-width: 900px;
  margin: 0 auto;
}
#viewer {
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  margin: 0;
}
